@media (min-width: 668px) {
.container-md {
max-width: 1300px;
}
}

@media (min-width: 892px) {
.container-lg {
max-width: 1300px;
}
}

@media (min-width: 1100px) {
.container-xl {
max-width: 1300px;
}
}




.side-by-side {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.side-by-side img {
  max-width: 250px;
  height: auto;
}

@media (max-width: 768px) {
  .side-by-side {
    flex-direction: column;
  }
}
