@media (min-width: 768px) {
.container-md {
max-width: 1600px;
}
}

@media (min-width: 992px) {
.container-lg {
max-width: 1600px;
}
}

@media (min-width: 1200px) {
.container-xl {
max-width: 1600px;
}
}


.two-columns {
  display: flex;
  gap: 20px;
}

.two-columns .left {
  flex: 0 0 75%;
}

.two-columns .right {
  flex: 0 0 25%;
}

/* Responsive */
@media (max-width: 768px) {
  .two-columns {
    flex-direction: column;
  }

  .two-columns .left,
  .two-columns .right {
    flex: 1 1 100%;
  }
}



.side-by-side {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.side-by-side img {
  max-width: 250px;
  height: auto;
}

@media (max-width: 768px) {
  .side-by-side {
    flex-direction: column;
  }
}
