@media (min-width: 768px) {
.container-md {
max-width: 1400px;
}
}

@media (min-width: 992px) {
.container-lg {
max-width: 1400px;
}
}

@media (min-width: 1200px) {
.container-xl {
max-width: 1400px;
}
}

/*
.side-by-side {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.side-by-side img {
  max-width: 250px;
  height: auto;
}

@media (max-width: 768px) {
  .side-by-side {
    flex-direction: column;
  }
}
*/

.image-row {
  display: flex;
  gap: 20px;            /* espace entre les images */
}

.image-row img {
  max-width: 100%;
  height: auto;
}



.home-intro {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 30px;
}

.home-photo img {
  max-width: 220px;
  border-radius: 50%;   /* remove if you want a square photo */
  height: auto;
}

.home-text {
  flex: 1;
}

/* Mobile responsive */
@media (max-width: 768px) {
  .home-intro {
    flex-direction: column;
    text-align: center;
  }

  .home-photo img {
    max-width: 180px;
  }
}
